.column>div {
    display: flex;
    flex-direction: column;
}

.column img {
    width: 100%;
}

@media (min-width: 900px) {
    .column>div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }
    .column>div>div {
        flex: 1;
        margin-left: 32px;
    }
    .column>div>div:first-of-type {
        margin-left: unset;
    }
}